<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Contacts App</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
 
   <div class="container-fluid">
 
       <div class="row">
           <div class="offset-md-4 col-md-4">
               <h2>Delete players from Database</h2>
               <hr>
 
               {{#if deleteFailed}}
               <div class="alert alert-danger">
                   Failed to delete player's information, please provide both inputs.
               </div>
               {{/if}}

               {{#if deleted}}
                <div class="alert alert-success">
                   Player deleted successfully!!!
               </div>
               {{/if}} 

               {{#if no_match}}
                <div class="alert alert-danger">
                   No matches found in Database.
               </div>
               {{/if}}
 
               <form action="/deleteTennisPlayer" method="POST">
 
                   <label for="name">
                       Name:
                       <input class="form-control" type="text" name="name" id="name">
                   </label>
 
                   <label for="country">
                       Country:
                       <input class="form-control" type="text" name="country" id="country">
                   </label>
 
                   <p></p>
 
                   <button class="btn btn-danger" type="submit">Delete</button>
               </form>
               <p></p>
                <form action="/" method="GET"><input type="submit" class="btn btn-primary btn-lg" value="Home"></form>
           </div>
       </div>
 
   </div>
  
</body>
</html>